 

#viewport{
    
      perspective: 1000px;
       width:200px;
       height:200px;
       position: absolute;
   
    margin:0px;
    top:50%;
        left:50%;
    /*pulling */
    margin: -100px 0 0 -100px;
  /*  overflow: hidden;*/

}

 

/* No height so center of rotation is on top */ 
#cube{
        transform: rotateX(0deg);
        transform-style: preserve-3d;
          position: absolute;
         width:100%;
        height:100%; 
        transition: all 2s;


}

#cube div{
        width:100%;
        height:100%;
   /* opacity:.5;*/
    position:absolute;
    border:1px solid black;
}

#front{
    background: red;
    transform: translateZ(100px);
}

#back{
    background: red;
    transform: translateZ(-100px) rotateY(-180deg) ;
}

#top{
    background: yellow;
    transform: translateY(-100px) rotateX(90deg);
}

#bottom{
    background: yellow;
    transform: translateY(100px) rotateX(-90deg);
}

#left{
    background: green;
    transform: translateX(-100px) rotateY(-90deg);
}

#right{
    background: green;
    transform: translateX(100px) rotateY(90deg);
}

/*
@keyframes Rotatec{
    0% {transform:rotateY(0deg);}
    20%{transform:rotateY(30deg) rotateX(50deg);} 
    70%{transform:rotateY(210deg) rotateZ(120deg);}
    100%{transform:rotateY(360deg);}
}
#anim:hover + #viewport > #cube{
    animation: Rotatec 3s infinite;
}  

*/

#anim:hover + #viewport > #cube{
    transform: rotateX(-290deg) rotateY(150deg) rotateZ(130deg) translateX(400px);
} 